@{
    Layout = "_Layout";
    ViewData["CurrentPage"] = "registerProduct";
}

 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Đăng kí</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="#" class="checkout-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="#" class="content-btn">Bấm vào đây để <b>đăng nhập</b></a>
                        </div>
                        <h4>Thông tin đăng kí</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="fir">Họ<span>*</span></label>
                                <input type="text" id="fir">
                            </div>
                            <div class="col-lg-6">
                                <label for="last">Tên<span>*</span></label>
                                <input type="text" id="last">
                            </div>
                            <div class="col-lg-12">
                                <label for="cun-name">Địa chỉ</label>
                                <input type="text" id="cun-name">
                            </div>
                            <div class="col-lg-12">
                                <label for="cun">Số điện thoại<span>*</span></label>
                                <input type="text" id="cun">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Địa chỉ email<span>*</span></label>
                                <input type="text" id="street" class="street-first">
                            </div>
                            <div class="col-lg-12">
                                <label for="zip">Diện tích mái cần lắp đặt<span>*</span></label>
                                <input type="text" id="zip">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="Vui lòng đăng nhập trước khi đăng kí sử dụng dịch vụ">
                        </div>
                        <div class="place-order">
                            <h4>Giá thành dự kiến</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li class="total-price">Tổng <span>320.000.000</span></li>
                                </ul>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Đăng kí</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->