@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Product";
}

<h2>Day la trang quan ly sách</h2>





@section Css {
   <style>
       
       h2{
           color: red;
       }
   </style>
}   

@section Script {
   <script>
       console.log("hello :)");
   </script>
}   